body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background: lightskyblue;
}

.placement {

}

.start {
  display: grid;
  gap: 20px 60px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: end;
}

.start > div:nth-child(odd) {
  justify-self: right;
}

.start > div:nth-child(even) {
  justify-self: left;
}

.placement > div {
  justify-self: center;
}

.placement .hit:hover {
  cursor: grab;
}

.placement .hit:active {
  cursor: grabbing;
}

.board {
  background-color: cadetblue;
  display: grid;
}

.board.active {
  background-color: beige;
}

.board, .display {
  width: 352px;
}

.cell-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  background-color: blanchedalmond;
  gap: 2px;
  height: 318px;
  width: 320px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.column {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-column: 2 / 3;
  gap: 2px;
  align-items: center;
  justify-items: center;
}

.row {
  display: grid;
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  align-items: center;
  justify-items: center;
  width: 30px;
}

h3, input {
  text-align: center;
  grid-column: 1 / 3;
  /* grid-row: 1 / 3; */
}

.board input {
  width: 50%;
  align-self: center;
  justify-self: center;
  margin: 20px 0;
}

.cell {
  background: navy;
  height: 30px;
  width: 30px;
}

.preview {
  background-color: gray;
}

.start:not(.active) .cell:hover, button:hover, .cell.preview {
  opacity: 0.6;
}

.cell.hit {
  background-color: chartreuse;
}

.cell.miss {
  background-color: brown;
}

.display {
  align-self: self-start;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.display span {
  display: inline-block;
  background-color: navy;
  border-radius: 15px;
  color: white;
  user-select: none;
  padding: 4px 12px;
}

span.sink {
  background-color: brown;
  opacity: 0.4;
  text-decoration: line-through;
}

.winner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: grayscale(40%) blur(7px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25%;
}

.winner h3 {
  color: white;
  text-shadow: 0 0 5px black;
}

.winner button, .options button {
  background-color: navy;
  border-radius: 15px;
  color: white;
  padding: 8px 16px;
  border: none;
}

.options {
  display: inline-flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}

.options button {
  height: 30px;
}

.options label {
  line-height: 30px;
}